<div class="ts-box" [ngClass]="[colorClass]">
  <div class="head" [ngClass]="{clickable: onHeaderClick}" (click)="onHeaderClick && onHeaderClick()">
    <i *ngIf="!isImage(icon)" [class]="icon" class="icon"></i>
    <img class="icon" *ngIf="isImage(icon)" [src]="icon" [alt]="title">
    <h2>{{title}}</h2>
    <div *ngIf="headerButtons" class="tools">
      <ng-container *ngFor="let headerButton of headerButtons">
        <a *ngIf="!headerButton.disabled" [title]="headerButton.title" href="#"
           (click)="headerButtonClick($event, headerButton)"><i [class]="headerButton.icon"></i></a>
      </ng-container>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="contentTemplate">
  </ng-container>
</div>
