<box [color]="color"
     [title]="'Music'"
     [icon]="'ri-music-2-fill'">
  <ng-template>
    <form *ngIf="song" class="nice show-labels" [ngClass]="[getColorClass()]">
      <div class="field">
        <label for="form-show">Show</label>
        <input type="text" id="form-show" placeholder="Show" name="show" [(ngModel)]="song.show">
      </div>
      <div class="field">
        <label for="form-type">Type</label>
        <input type="text" id="form-type" placeholder="Type" name="type" [(ngModel)]="song.type">
      </div>
      <div class="field">
        <label for="form-title">Title</label>
        <input type="text" id="form-title" placeholder="Title" name="title" [(ngModel)]="song.title">
      </div>
      <div class="field">
        <label for="form-author">Author</label>
        <input type="text" id="form-author" placeholder="Author" name="author" [(ngModel)]="song.author">
      </div>

      <div class="field">
        <label for="form-date">Date</label>
        <input type="date"
               id="form-date"
               placeholder="date"
               name="date"
               [ngModel]="song.releaseDate | date:'yyyy-MM-dd'"
               (ngModelChange)="updateReleaseDate($event)">
      </div>
      <div class="field">
        <label for="form-anidb">aniDB.net ID</label>
        <input type="number" id="form-anidb" placeholder="aniDB.net ID" name="anidbId" [(ngModel)]="song.anidbId">
      </div>
      <div class="field">
        <label for="form-anison">anison ID</label>
        <input type="number" id="form-anison" placeholder="anison ID" name="anisonId" [(ngModel)]="song.anisonId">
      </div>
      <div class="buttons">
        <input type="submit" value="Save" (click)="save()">
      </div>
    </form>
  </ng-template>
</box>
