@import '~src/styles/variables';

$kirinoWidth: 500px;
$kirinoHeight: 497px;

@mixin kirino-size($size: 1) {
  width: $size * $kirinoWidth;
  height: $size * $kirinoHeight;
}

.ts-kirino-image {
  transition: all $time, left 0s, top 0s, right 0s, bottom 0s;
  position: fixed;
  background: url($imgDir + 'kirino.png') no-repeat right bottom;
  background-size: 100% 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
  @include kirino-size(1);

  @media (max-width: 1600px) {
    & {
      @include kirino-size(.9);
    }
  }

  @media (max-width: 1300px) {
    & {
      @include kirino-size(.7);
    }
  }

  @media (max-width: 1100px) {
    & {
      @include kirino-size(.5);
    }
  }

  @media (max-width: ($responsiveWidth + 2 * $miniSpace - 1px)) {
    & {
      background: url($imgDir + 'kirino2.png') no-repeat right bottom;
      background-size: 100% 100%;
      position: static;
      height: auto;
      width: calc(100% + 2 * #{$miniSpace});
      padding-top: 61.5%;
      margin: 0 (-1 * $miniSpace) (-1 * $miniSpace);
    }
  }
}
