@mixin maximize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin scrollbar($size: 2px, $bar: 10%, $bg: #000) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
    background: $bg;
  }

  ::-webkit-scrollbar-thumb {
    background: $bg;
    background: rgba(255, 255, 255, $bar);
  }
}

@mixin clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  display: inline-table;
  display: block;
}

@mixin alignVideo($width: 1920px, $height: 1080px, $widthPoint: 1/2, $heightPoint: 1/2) {
  --width: #{$width};
  --height: #{$height};
  --top-magrin: calc( -1 * (var(--height) - 100%) * #{$heightPoint} );
  --left-magrin: calc( -1 * (var(--width) - 100%) * #{$widthPoint} );
  top: min(var(--top-magrin), 0px);
  left: min(var(--left-magrin), 0px);
}
