@import "~@angular/cdk/overlay-prebuilt.css";
@import "variables";
@import "mixins";
@import "context-menu";
@import "form";
@import "animations";

@include scrollbar($bg: rgba(0,0,0,.5), $bar: 50%);

html, body {
  font-size: 62.5%;
  font-family: $font;
  padding: 0;
  margin: 0;
  background: $backgroundColor;
  height: 100%;
  scrollbar-width: thin;
}

a, button {
  transition: color $time, background $time, opacity $time, padding $time, margin $time;
}

menu {
  margin: 0;
}

.sh-context-menu {
  .sh-context-menu--item > div {
    display: flex;
    align-items: center;
    i {
      display: inline-block;
      text-align: center;
      width: 1.5em;
    }
  }
}
