<div #background class="ts-quick-access-modal" *ngIf="visible && editItem">
  <div class="box">
    <div class="preview" *ngIf="tile">
      <tile [tile]="previewTile"></tile>
    </div>
    <form class="nice cyan">
      <div *ngIf="tile" class="field">
        <label for="form-link">URL</label>
        <input type="text" id="form-link" placeholder="URL" name="url" [(ngModel)]="url">
      </div>
      <div class="field">
        <label for="form-title">Title</label>
        <input type="text" id="form-title" placeholder="Title" name="title" [(ngModel)]="title">
      </div>
      <div class="field group">
        <label for="form-icon">Icon</label>
        <input type="text" id="form-icon" placeholder="Icon" name="icon" [(ngModel)]="icon">
        <a target="_blank" class="help" href="http://fontawesome.io/">
          <fa [name]="'question'"></fa>
        </a>
      </div>
      <div class="buttons">
        <input type="submit" value="Save" (click)="save()">
        <button class="second" (click)="hide()">Cancel</button>
      </div>
    </form>
  </div>
</div>
