<script>
    var getAllMusic = '{@exec func="createLink" args="['Calendar:Default:getAllMusic']" /}';
    var getMusic = '{@exec func="createLink" args="['Calendar:Default:getMusic']" /}';
    var musicSearch = '{@exec func="createLink" args="['Calendar:Default:musicSearch']" /}';
    var addMusic = '{@exec func="createLink" args="['Calendar:Default:addMusic']" /}';
    var editMusic = '{@exec func="createLink" args="['Calendar:Default:editMusic']" /}';
    var deleteMusic = '{@exec func="createLink" args="['Calendar:Default:deletetMusic']" /}';
    var refreshMusic = '{@exec func="createLink" args="['Calendar:Default:refreshMusic']" /}';
    
    var getAllShow = '{@exec func="createLink" args="['Calendar:Default:getAllShows']" /}';
    var getShow = '{@exec func="createLink" args="['Calendar:Default:getShow']" /}';
    var showSearch = '{@exec func="createLink" args="['Calendar:Default:showSearch']" /}';
    var addShow = '{@exec func="createLink" args="['Calendar:Default:addShow']" /}';
    var editShow = '{@exec func="createLink" args="['Calendar:Default:editShow']" /}';
    var deleteShow = '{@exec func="createLink" args="['Calendar:Default:deletetShow']" /}';
    var watchShow = '{@exec func="createLink" args="['Calendar:Default:watchShow']" /}';
    var refreshShow = '{@exec func="createLink" args="['Calendar:Default:refreshShows']" /}';
    
    var getAllOva = '{@exec func="createLink" args="['Calendar:Default:getAllOva']" /}';
    var getOva = '{@exec func="createLink" args="['Calendar:Default:getOva']" /}';
    var addOva = '{@exec func="createLink" args="['Calendar:Default:addOva']" /}';
    var editOva = '{@exec func="createLink" args="['Calendar:Default:editOva']" /}';
    var deleteOva = '{@exec func="createLink" args="['Calendar:Default:deletetOva']" /}';
    var refreshOva = '{@exec func="createLink" args="['Calendar:Default:refreshOva']" /}';
    var ovaSearch = '{@exec func="createLink" args="['Calendar:Default:ovaSearch']" /}';
    
    var animeSearch = '{@exec func="createLink" args="['Calendar:Default:animeSearch']" /}';
    var getAllAnime = '{@exec func="createLink" args="['Calendar:Default:getAllAnime']" /}';
    var getAnime = '{@exec func="createLink" args="['Calendar:Default:getAnime']" /}';
    var addAnime = '{@exec func="createLink" args="['Calendar:Default:addAnime']" /}';
    var editAnime = '{@exec func="createLink" args="['Calendar:Default:editAnime']" /}';
    var deleteAnime = '{@exec func="createLink" args="['Calendar:Default:deletetAnime']" /}';
    var refreshAnime = '{@exec func="createLink" args="['Calendar:Default:refreshAnime']" /}';
    var watchAnime = '{@exec func="createLink" args="['Calendar:Default:watchAnime']" /}';
</script>
<script src="/js/scripts.js" type="text/javascript"></script>
<script src="/{modul}/translation.js" type="text/javascript"></script>
<script src="/{modul}/js/scripts.js" type="text/javascript"></script>