@import "~@angular/cdk/overlay-prebuilt.css";
@import "variables";
@import "mixins";
@import "context-menu";
@import "form";

html, body {
  font-size: 62.5%;
  font-family: $font;
  padding: 0;
  margin: 0;
}

a {
  transition: color $time, background $time, opacity $time, padding $time;
}
