$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$time: 0.5s;
$textColor: #333;
$shadow: 2px 2px 8px rgba(0,0,0,.3);
$responsiveWidth: 900px;
$space: 20px;
$miniSpace: 1rem;

$imgDir: '/assets/img/';
$iconDir: '/assets/icons/';

$gray: #9a9a9a;
$red: #B63533;
$blue: #3573a8;
$green: #5c8230;
$yellow: #d87f37;
$pink: #b03c6e;
$purple: #473cb0;
$cyan: #3385ad;

// Shinobu
$shinobuResponsive: 1111px;
$shinobuColorTransparency: .5;

// Notes
$noteDefaultColor: #000;

// Icon grid
$gridBackground: rgba(0, 0, 0, .1);
$gridColor: #fff;
