<box [color]="color"
     [title]="'Anime'"
     [icon]="'assets/icons/anidb.ico'">
  <ng-template>
    <form *ngIf="anime" class="nice" [ngClass]="[colorClass]">
      <div class="field">
        <label for="form-title">Title</label>
        <input type="text" id="form-title" placeholder="Title" name="title" [(ngModel)]="anime.title">
      </div>
      <div class="field">
        <label for="form-anidb">aniDB.net ID</label>
        <input type="text" id="form-anidb" placeholder="aniDB.net ID" name="anidbId" [(ngModel)]="anime.anidId">
      </div>
      <div class="field group">
        <label for="form-search">Search text</label>
        <input type="text" id="form-search" placeholder="Search text" name="search" [(ngModel)]="anime.nyaaSearch">
        <span class="help" title="You can use %n for episode number, %s and %e for series and episode in series.
Also things like %(n+12) or %(s-1).
And for padding you can use %s_10 for 09 or %e_1000 for 0005 and so on.">
          <fa [name]="'question'"></fa>
        </span>
      </div>
      <div class="buttons">
        <input type="submit" value="Save" (click)="save()">
      </div>
    </form>
  </ng-template>
</box>
