{?mainTab}
<div class="console">{>"quickaccess.default.console"/}</div>
{:else}
<div class="iconGrid">
    {@eq key=links.length value=0 type=number}
    <a title="{_.default.addItem}" href="#" class="add">
        <i class="fa fa-plus"></i>
    </a>
    {:else}
    {#links}{>"quickaccess.helpers.link"/}{/links}
    {/eq}
</div>
{/mainTab}

<div class="notes">
    {>"quickaccess.default.notes"/}
</div>

<div class="panel">
    <ul class="menu">
        <li class="dropdown">
            <a class="dropdown-toggle notify" href="#">
                {@eq key=notSeen value=0 type="Integer"}
                <i title="{_.notify.notifications}" class="fa fa-optin-monster"></i>
                {:else}
                {notSeen}
                {/eq}
            </a>

            <div class="dropdown-list list notifications hidden">
                {#notifications}
                {>"quickaccess.helpers.notification"/}
                {/notifications}
            </div>
        </li>
    </ul>
</div>

<div class="modal-box hidden">
    <div class="modal">
    </div>
</div>
