@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

$noteTextColor: #fff;
$noteFontSize: 17px;
$noteTitleSize: 20px;

@mixin note($color) {
  textarea, .text {
    color: $noteTextColor;
    background: transparentize(darken($color, 20%), $shinobuColorTransparency);
  }
  textarea, .text {
    &:not(:first-child) {
      border-top: 1px solid transparentize($color, $shinobuColorTransparency*1.3);
      background: opacify($color, $shinobuColorTransparency*1.3);
    }
  }
}

@mixin noteClass($color, $selector) {
  &#{$selector} {
    @include note($color);
  }
}

@include scrollbar($bg: rgba(0, 0, 0, 0.1));

.ts-note {
  position: relative;
  width: 100%;
  height: 100%;

  @include note($noteDefaultColor);
  @include noteClass($noteDefaultColor, ".gray");
  @include noteClass($red, ".red");
  @include noteClass($blue, ".blue");
  @include noteClass($green, ".green");
  @include noteClass($yellow, ".orange");
  @include noteClass($pink, ".pink");
  @include noteClass($purple, ".purple");
  @include noteClass($cyan, ".cyan");

  textarea, .text {
    @include maximize;
    margin: 0;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    padding: .3rem .5rem;
    font-size: $noteFontSize;
    outline: 0;
    border: none;
    text-align: left;
    font-family: monospace;
  }

  .text {
    height: $noteTitleSize;
    top: initial;
    text-align: center;
    font-size: $noteTitleSize;
  }

  textarea {
    bottom: $noteTitleSize;
  }

  @media (max-width: $shinobuResponsive) {
    height: auto;

    textarea, .text {
      position: initial;
      height: auto;
      display: block;
    }

    textarea {
      min-height: 20rem;
    }
  }
}
