@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

@mixin color-box($color) {
  .head {
    background: $color;
  }
  li a {
    color: $color;
    &:hover, &:focus, &:active {
      background: $color;
    }
  }

  li .top .badge {
    background: darken($color, 5%);
    &:hover, &:focus, &:active {
      background: $color;
    }
  }
}

@mixin color-box-class($color, $selector) {
  &#{$selector} {
    @include color-box($color);
  }
}

::ng-deep {
  .ts-box {
    background: $boxBg;
    border-radius: $boxRadius;
    margin-bottom: $space;
    box-shadow: $shadow;
    font-size: 1.4rem;

    .head {
      @include clearfix;
      color: $boxHeaderColor;
      border-radius: $boxRadius $boxRadius 0 0;
      padding: (2*$boxRadius) (3*$boxRadius);

      &.clickable {
        cursor: pointer;
      }
      
      .icon {
        float: left;
        font-size: 1.75rem;
        vertical-align: middle;
        margin-right: .55rem;
        display: inline-block;
        padding-top: .2rem;
      }

      h2 {
        margin: 0;
        padding: 0;
        font-size: 1.75rem;
        float: left;
      }

      .tools {
        font-size: 1.6rem;
        float: right;
        a {
          color: $boxHeaderColor;
          display: inline-block;
          padding: 0.05rem $boxRadius;
          border-radius: $boxRadius;
          &:hover, &:focus, &:active {
            background: $boxHeaderColor;
          }
        }

        a + a {
          margin-left: -0.2rem;
        }
      }
    }

    ul {
      &, li {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      :last-child {
        border-radius: 0 0 $boxRadius $boxRadius;
      }
      li {
        @include clearfix;
        padding: 0.5rem 3rem 0.5rem 1.5rem;
        background: darken($boxBg, 7%);
        border-bottom: 1px solid darken($boxBg, 20%);
        color: lighten($textColor, 12%);

        .content {
          width: calc(100% - 80px);
          float: left;
        }

        .top {
          padding-bottom: 0.1rem;
          h3 {
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
            display: inline;
          }
          .badge {
            display: inline-block;
            font-weight: 600;
            border-radius: ($boxRadius - 1px);
            padding: 0 $boxRadius;
            color: $boxBg;
          }

          h3 + .badge, .badge + .badge {
            margin-left: 0.5rem;
          }
        }

        a {
          text-decoration: none;
          &:hover, &:focus, &:active {
            color: darken($boxBg, 7%);
          }
        }

        .info {
          float: right;
          text-align: center;
          .date {
            display: block;
            &.unknown {
              font-style: italic;
            }
          }
        }

        .show-more {
          clear: both;
          text-align: center;
          font-size: 1.2rem;
          margin: 0 -3rem -0.5rem -1.5rem;
          padding: 0 3rem 0 1.5rem;
          background: rgba(0, 0, 0, .05);
          cursor: pointer;
          &:hover {
            background: rgba(0, 0, 0, .03);
          }
          &:focus, &:active {
            background: rgba(0, 0, 0, .1);
          }
        }

        &:hover, &:active {
          background: darken($boxBg, 4%);
          color: $textColor;
        }
        &.actual {
          background: $boxBg;
          color: $textColor;
          .date {
            font-weight: bold;
          }
        }
      }
    }

    @include color-box($gray);
    @include color-box-class($gray, ".gray");
    @include color-box-class($red, ".red");
    @include color-box-class($blue, ".blue");
    @include color-box-class($green, ".green");
    @include color-box-class($yellow, ".orange");
    @include color-box-class($pink, ".pink");
    @include color-box-class($purple, ".purple");
    @include color-box-class($cyan, ".cyan");

    @media (max-width: ($responsiveWidth + 2*$miniSpace - 1px)) {
      & {
        margin-bottom: $miniSpace;
      }
    }
  }
}
