@import '~src/styles/variables';
@import '~src/styles/mixins';

.ts-notes {
  @include maximize;
  transition: opacity $time, backdrop-filter $time;
  opacity: $opacityInactive;
  &:hover, &:focus, &:active, &:focus-within {
    opacity: $opacityActive;
    backdrop-filter: blur($bgBlurActive);
  }
}

@media (max-width: $shinobuResponsive) {
  .ts-notes {
    position: initial;
  }
}
