<div class="ts-notes">
  <note [note]="activeNote"
        [shAttachMenu]="menu"
        [shMenuData]="activeNote"
        longPressContextMenu
  ></note>
</div>

<sh-context-menu #menu>
  <ng-template shContextMenuItem let-data>
    <color-picker (colorPicked)="onColorChange($event)"></color-picker>
  </ng-template>
  <ng-template shContextMenuItem [divider]="true"></ng-template>
  <ng-template shContextMenuItem (click)="addNote()">
    <div>
      <i class="ri-add-line"></i> Add
    </div>
  </ng-template>
  <ng-template
    shContextMenuItem
    [subMenu]="changeMenu"
  >
    <div>
      <i class="ri-booklet-fill"></i>
      Change
    </div>
  </ng-template>

  <ng-template shContextMenuItem let-data (click)="deleteNote($event)">
    <div>
      <i class="ri-delete-bin-line"></i>
      Delete
    </div>
  </ng-template>

  <sh-context-menu #changeMenu>
    <ng-template shContextMenuItem
                 *ngFor="let note of notes"
                 (click)="setActiveNote(note)">
      <div>
        {{note.title}}
      </div>
    </ng-template>
  </sh-context-menu>
</sh-context-menu>
