@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.ts-notes {
  @include maximize;

  i {
    display: inline-block;
    text-align: center;
    width: 1em;
  }
}

@media (max-width: $shinobuResponsive) {
  .ts-notes {
    position: initial;
  }
}
