<div *ngIf="sorting" class="ts-sorting-title">
  <button (click)="toggleSort()">Stop sorting <i class="ri-close-circle-fill"></i></button>
</div>
<div class="ts-quick-access" *ngIf="tab && !sorting">
  <tile *ngIf="tab.tiles.length === 0" class="add" [tile]="addTileButton" (click)="addTile($event)"></tile>
    <tile *ngFor="let tile of tab.tiles"
          [tile]="tile"
          [shAttachMenu]="menu"
          [shMenuData]="tile"
          [small]="isSmall"
          longPressContextMenu></tile>
</div>
<div class="ts-quick-access" *ngIf="tab && sorting" [sortablejs]="tab.tiles" [sortablejsOptions]="sortableOptions">
    <tile *ngFor="let tile of tab.tiles"
          [tile]="tile"
          [shake]="true"
          [small]="isSmall"></tile>
</div>

<quick-access-modal *ngIf="tab && activeTile" [tab]="tab" [tile]="activeTile"
                    [(visible)]="showModal" (visibleChange)="updateIsSmall()"></quick-access-modal>

<sh-context-menu #menu>
  <ng-template shContextMenuItem (click)="toggleSort()">
    <div>
      <i class="ri-layout-grid-fill"></i> Sort
    </div>
  </ng-template>

  <ng-template shContextMenuItem (click)="addTile()">
    <div>
      <i class="ri-add-line"></i> Add
    </div>
  </ng-template>

  <ng-template shContextMenuItem (click)="editTile($event)">
    <div>
      <i class="ri-edit-line"></i>
      Edit
    </div>
  </ng-template>

  <ng-template shContextMenuItem let-data (click)="deleteTile($event)">
    <div>
      <i class="ri-delete-bin-line"></i>
      Delete
    </div>
  </ng-template>
</sh-context-menu>
