@import '~src/styles/variables';

.ts-sorting-title {
  text-align: center;
  margin-bottom: 1rem;
  button {
    border: none;
    background: transparent;
    font-size: 2.5rem;
    color: $gridColor;
    background: $gridBackground;
    padding: .5rem 2rem;
    cursor: pointer;

    i {
      vertical-align: bottom;
    }

    &:hover, &:active, &:focus {
      background: rgba($gridBackground, 40%);
    }
  }
}

.ts-quick-access {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  transition: opacity $time, backdrop-filter $time;
  opacity: $opacityInactive;
  &:hover, &:focus, &:active, &:focus-within {
    opacity: $opacityActive;
    backdrop-filter: blur($bgBlurActive);
  }
}

::ng-deep {
  tile.add {
    a {
      border: 5px dashed fade-in($gridBackground, .3);
    }
  }
}
