@import '~src/styles/variables';
@import '~src/styles/mixins';

.ts-kirino {
  .container {
    @include clearfix;
    max-width: $responsiveWidth;
    padding-right: 2rem;
    padding-top: $mainMenuSize;
    margin: 0 auto;
    z-index: 10;
    position: relative;
  }

  .half {
    width: calc(50% - #{$space} / 2);
    float: left;
  }

  .half + .half {
    float: right;
  }

  @media (max-width: ($responsiveWidth + 2*$miniSpace - 1px)) {
    & {
      padding-top: $miniSpace;
      padding-bottom: $miniSpace;
    }

    .half {
      width: 100%;
    }
  }
}
