@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$bgImg: $imgDir + "shinobuBg.jpg";
$christmasBgImg: $imgDir + "shinobuBgCh.jpg";
$colorTrans: $shinobuColorTransparency;
$contentFont: Roboto, 'Segoe UI', Helvetica, Arial, sans-serif;

.ts-shibnou {
  min-width: 100%;
  min-height: 100%;
  //@include maximize;

  background: $shinobuBgColor url($bgImg) no-repeat fixed center center;
  background-size: 100% 100%;
  color: $textColor;

  font-family: $contentFont;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &.christmas {
    background-image: url($christmasBgImg);
  }

  .spacer, quick-access, tabs {
    width: 100%;
    max-width: 25%;
  }

  quick-access {
    order: 2;
    flex: 2;
    max-width: 4*(2*$gridMargin + $gridIconSize);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .spacer1 {
    order: 1;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  tabs {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

@media (max-width: $shinobuResponsive) {
  .ts-shibnou {
    position: relative;
    flex-direction: column;
    padding-top: $mainMenuSize;
    background-size: cover;
    background-position: right;

    quick-access {
      margin: 0 auto;
      box-sizing: border-box;
      padding: 1rem;
      justify-content: start;
      max-width: 100%;
    }

    tabs {
      order: 1;
      max-width: 100%;
      width: 100%;
      align-items: center;
    }
  }

}
