@import '~src/styles/variables';
@import '~src/styles/mixins';

$bgImg: $imgDir + "shinobuBg.jpg";
$christmasBgImg: $imgDir + "shinobuBgCh.jpg";
$colorTrans: $shinobuColorTransparency;
$contentFont: Roboto, 'Segoe UI', Helvetica, Arial, sans-serif;

.ts-shibnou {
  min-width: 100%;
  min-height: 100%;
  //@include maximize;

  background: $shinobuBgColor url($bgImg) no-repeat fixed center center;
  background-size: 100% 100%;
  color: $textColor;


  font-family: $contentFont;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  #bg-video {
    display: none;
  }

  &.christmas {
    background-image: url($christmasBgImg);
  }

  &.Gura {
    background: #fff url($imgDir + "gura.webp") no-repeat fixed right top;
    background-attachment: fixed;

    &.hasVideo {
      background-image: none;
    }

    #bg-video {
      display: block;
      position: fixed;
      right: 0;
      bottom: 0;
      top: 0;
      height: 100vh;
    }
  }

  &.Fauna {
    background-image: url($imgDir + "fauna.webp");

    &.christmas {
      background-image: url($imgDir + "fauna-christmas.webp");
    }

    &.hasVideo {
      background-image: none;
    }

    #bg-video {
      display: block;
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }

  notes, quick-access, tabs {
    width: 100%;
    max-width: 25%;
  }

  notes {
    order: 1;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  quick-access {
    order: 2;
    flex: 2;
    max-width: 4*(2*$gridMargin + $gridIconSize);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  tabs {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

@media (max-width: $shinobuResponsive) {
  .ts-shibnou {
    position: relative;
    flex-direction: column;
    padding-top: $mainMenuSize;
    min-height: calc(100% - $mainMenuSize);
    background-size: cover;
    background-position: right;

    quick-access {
      margin: 0 auto;
      box-sizing: border-box;
      padding: 1rem;
      justify-content: start;
      max-width: 100%;
      flex: 1;
    }

    tabs {
      order: 1;
      max-width: 100%;
      width: 100%;
      align-items: center;
    }

    notes {
      order: 3;
      max-width: 100%;
      width: 100%;
      position: relative;
    }
  }

}
