@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.ts-notes {
  //height: 100%
  @include maximize;
}

fa {
  display: inline-block;
  text-align: center;
  width: 1em;
}


@media (max-width: $shinobuResponsive) {
  .ts-notes {
    position: initial;
  }
}
