<div class="ts-notes">
  <note *ngIf="activeNote"
        [note]="activeNote"
        [noteService]="noteService"
        [shAttachMenu]="menu"
        [shMenuData]="activeNote"></note>
</div>

<sh-context-menu #menu>
  <ng-template shContextMenuItem let-data>
    <color-picker [note]="activeNote" [noteService]="noteService"></color-picker>
  </ng-template>
  <ng-template shContextMenuItem [divider]="true"></ng-template>
  <ng-template shContextMenuItem (click)="addNote()">
    <div>
      <fa [name]="'plus'"></fa>
      Add
    </div>
  </ng-template>
  <ng-template
    shContextMenuItem
    [subMenu]="changeMenu"
  >
    <div>
      <fa [name]=""></fa>
      Change
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data *ngIf="notes && notes.length > 1" (click)="deleteActiveNote()">
    <div>
      <fa [name]="'trash'"></fa>
      Delete
    </div>
  </ng-template>

  <sh-context-menu #changeMenu>
    <ng-template shContextMenuItem
                 *ngFor="let note of notes"
                 (click)="changeActiveNote(note)">
      <div>
        {{note.title}}
      </div>
    </ng-template>
  </sh-context-menu>
</sh-context-menu>
