<box [color]="color" title="Backup" icon="">
  <ng-template>
    <form class="nice show-labels purple">
      <div class="field">
        <label for="form-data">Data</label>
        <textarea
          id="form-data"
          name="data"
          [(ngModel)]="backupData"
          rows="25"
        ></textarea>
      </div>
      <div class="buttons">
        <button (click)="importData($event)">Import data</button>
        <button (click)="exportData($event)">Export data</button>
      </div>
    </form>
  </ng-template>
</box>
