<box [color]="color"
     [title]="'OVA'"
     [icon]="'assets/icons/anidb.ico'">
  <ng-template>
    <form *ngIf="ova" class="nice" [ngClass]="[colorClass]">
      <div class="field">
        <label for="form-title">Title</label>
        <input type="text" id="form-title" placeholder="Title" name="title" [(ngModel)]="ova.title">
      </div>
      <div class="field">
        <label for="form-anidb">aniDB.net ID</label>
        <input type="number" id="form-anidb" placeholder="aniDB.net ID" name="anidbId" [(ngModel)]="ova.anidbId">
      </div>
      <div class="field">
        <label for="form-date">Date</label>
        <input type="date"
               id="form-date"
               placeholder="date"
               name="date"
               [ngModel]="ova.airdate | date:'yyyy-MM-dd'"
               (ngModelChange)="updateAirdate($event)">
      </div>
      <div class="buttons">
        <input type="submit" value="Save" (click)="save()">
      </div>
    </form>
  </ng-template>
</box>
