<script>
    var parseUrl = '{@exec func="createLink" args="['QuickAccess:Default:parseUrl']" /}';
    var orderLink = '{@exec func="createLink" args="['QuickAccess:Default:order']" /}';
    var addLinkUrl = '{@exec func="createLink" args="['QuickAccess:Default:addLink']" /}';
    var editLinkUrl = '{@exec func="createLink" args="['QuickAccess:Default:editLink']" /}';
    var deleteLink = '{@exec func="createLink" args="['QuickAccess:Default:deleteLink']" /}';
    
    var getNote = '{@exec func="createLink" args="['QuickAccess:Default:getNote']" /}';
    var addNoteUrl = '{@exec func="createLink" args="['QuickAccess:Default:addNote']" /}';
    var editNote = '{@exec func="createLink" args="['QuickAccess:Default:editNote']" /}';
    var deleteNote = '{@exec func="createLink" args="['QuickAccess:Default:deleteNote']" /}';
</script>
<script src="/js/scripts.js" type="text/javascript"></script>
<script src="/{modul}/translation.js" type="text/javascript"></script>
<script src="/{modul}/js/scripts.js" type="text/javascript"></script>