<form>
    <div class="input">
        <label>{_.name}</label> <input type="text" name="name" placeholder="{_.name}" value="{name}">
    </div>
    <div class="input">
        <label>{_.music.vgmdbId}</label> <input min="1" type="number" value="{vgmid}" name="id" placeholder="{_.music.vgmdbId}">
    </div>
    <div class="input">
        <label>{_.search}</label> <input type="text" name="search" placeholder="{_.search}">
    </div>

    <div class="whisper">
        {>"calendar.helpers.musicWhisper"/}
    </div>

    <div class="input">
        <label>{_.releaseDate}</label> <input type="date" name="date" value="{dateForm}"> <span class="optional">({_.optional})</span>
    </div>

    <h3>{_.notifications}</h3>
    <div class="checkbox">
        <label><input type="checkbox" name="releaseDate"{?notify} checked="checked"{/notify}> {_.releaseDate}</label>
    </div>
    {?name}
    <input type="submit" name="edit" value="{_.edit}">
    {:else}
    <input type="submit" name="add" value="{_.add}">
    {/name}
</form>