<form>
    <div class="input">
        <label>{_.name}</label> <input type="text" name="name" placeholder="{_.name}">
    </div>
    <div class="input">
        <label>{_.anime.anidbId}</label> <input value="153" min="1" type="number" name="anidbId" placeholder="{_.anime.anidbId}">
    </div>
    <div class="input">
        <label>{_.anime.episode}</label> <input value="153" min="1" type="number" name="episode" placeholder="{_.anime.episode}">
    </div>

    <div class="whisper">
        <div class="tip">
            <div>
                <h3><span class="name">S1 Blablabla</span> (e<span class="aid">4172</span>)</h3>
            </div>
            <a href="http://anidb.net/a4172" target="_blank" title="Nishi no Yoki Majo: Astraea Testament na AniDB">AniDB</a>
        </div>
        <div class="tip">
            <div>
                <h3><span class="name">S2 Blablabla</span> (e<span class="aid">4172</span>)</h3>
            </div>
            <a href="http://anidb.net/a6747" target="_blank" title="Baka to Test to Shoukanjuu na AniDB">AniDB</a>
        </div>
    </div>

    <div class="input">
        <label>{_.anime.nyaaQuery}</label> <input type="text" name="nyaaQuery" placeholder="{_.anime.nyaaQuery}">
    </div>
    <h3>{_.notifications}</h3>
    <div class="checkbox">
        <label><input type="checkbox" name="releaseDate"> {_.releaseDate}</label>
        <label><input type="checkbox" name="releaseFile"> {_.releaseFile}</label>
    </div>
    <input type="submit" name="add" value="{_.add}">
</form>