<form>
    <div class="input">
        <label>{_.name}</label> <input type="text" name="name" placeholder="{_.name}">
    </div>
    <div class="input">
        <label>{_.shows.nextEpisodeUrl}</label> <input type="text" name="nextEpisodeUrl" placeholder="{_.shows.nextEpisodeUrl}">
    </div>

    <div class="whisper">
        <div class="tip">
            <div>
                <h3><span class="name">Adventure Time</h3>
            </div>
            <a href="http://next-episode.net/adventure-time" target="_blank" title="Nishi no Yoki Majo: Astraea Testament na AniDB">next-episode.net</a>
        </div>
        <div class="tip">
            <div>
                <h3><span class="name">Adventure Time</h3>
            </div>
            <a href="http://next-episode.net/adventure-time" target="_blank" title="Nishi no Yoki Majo: Astraea Testament na AniDB">next-episode.net</a>
        </div>
    </div>

    <h3>{_.notifications}</h3>
    <div class="checkbox">
        <label><input type="checkbox" name="releaseDate"> {_.releaseDate}</label>
    </div>
    <input type="submit" name="add" value="{_.add}">
</form>