@import '../../../../../styles/variables';

@mixin colorClass($color, $selector) {
  &#{$selector} {
    background-color: $color;
  }
}

.ts-color-picker {
  div {
    display: inline-block;
    clear: none;
    background: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: .5em;
    margin: 0 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    @include colorClass($gray, ".gray");
    @include colorClass($red, ".red");
    @include colorClass($blue, ".blue");
    @include colorClass($green, ".green");
    @include colorClass($yellow, ".orange");
    @include colorClass($pink, ".pink");
    @include colorClass($purple, ".purple");
    @include colorClass($cyan, ".cyan");
  }
}
