@import '../../../../../styles/variables';

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 1rem;

  th, td {
    padding: 5px 10px;
  }

  thead {
    background: $red;
    color: $boxHeaderColor;

    th + th {
      border-left: darken($red, 10%) solid 1px;
    }
  }

  tbody {
    background: darken($boxHeaderColor, 10%);

    td + td {
      border-left: darken($boxHeaderColor, 15%) solid 1px;
    }

    tr:nth-child(even) {
      background: darken($boxHeaderColor, 15%);

      td + td {
        border-left: darken($boxHeaderColor, 25%) solid 1px;
      }
    }
  }

  a {
    color: $red;
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }
}
