<box [color]="color"
     title="Error log"
     icon="bug"
     *ngIf="errors.length > 0">
  <ng-template>
    <div class="form-nice gray">
      <table>
        <thead>
        <tr>
          <th>Source</th>
          <th>Message</th>
          <th>When</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let error of errors">
          <td>{{error.source}}</td>
          <td>{{error.text}}</td>
          <td>{{error.timestamp | date}} - {{error.timestamp | date:'HH:mm'}}</td>
          <td><a href="#" (click)="logToConsole($event, error)">Log to console</a></td>
        </tr>
        </tbody>
      </table>
      <button (click)="clear($event)">Clear log</button>
    </div>
  </ng-template>
</box>
