<box [color]="color"
     [title]="title"
     [icon]="icon"
     [onHeaderClick]="onHeaderClick.bind(this)"
     [headerButtons]="headerButtons">
  <ng-template>
    <ul class="data" [ngClass]="{minimized: minimized}">
      <li *ngFor="let item of renderItems"
          [ngClass]="{actual: item.date && now.getTime() >= item.date.getTime()}"
          [shAttachMenu]="menu"
          [shMenuData]="item"
          longPressContextMenu>
        <div class="content">
          <div class="top">
            <h3 class="title">{{item.title}}</h3>
            <a *ngFor="let badge of item.badges" [title]="badge.text" [href]="badge.url" class="badge"
               target="_blank">{{badge.text}}</a>
          </div>
          <div class="text">
            <a *ngIf="item.link" [href]="item.link.url" [title]="item.link.text" target="_blank">[{{item.link.text}}
              ]</a>
            <br *ngIf="item.link">
            {{item.text}}
          </div>
        </div>
        <div class="info">
          <span *ngIf="item.date" class="date">{{item.date | date:'yyyy/M/d'}} <i *ngIf="item.isSynced" class="ri-check-line"></i></span>
          <span *ngIf="!item.date" class="date unknown">Unknown <i *ngIf="item.isSynced" class="ri-check-line"></i></span>
          <ng-container *ngFor="let button of item.buttons; let isLast=last">
            <a href="#" [title]="button.title" (click)="onButtonClicked($event, item, button)">
              <i [class]="button.icon"></i>
            </a>
            <span *ngIf="!isLast">&nbsp;/&nbsp;</span>
          </ng-container>
        </div>
        <div *ngIf="hiddenGroups[item.groupKey] && hiddenGroups[item.groupKey] > 0"
             class="show-more"
             [title]="hiddenGroups[item.groupKey] + ' more episodes'"
             (click)="toggleHideItem(item)">
          ...
        </div>
      </li>
    </ul>
  </ng-template>
</box>

<sh-context-menu #menu>
  <ng-template *ngIf="enableHiding" shContextMenuItem (click)="toggleHideItem($event.data)">
    <div>
      <i class="ri-eye-off-fill"></i>
      Toggle first/all
    </div>
  </ng-template>
  <ng-template *ngIf="syncFunction" shContextMenuItem (click)="isOnline && syncFunction($event.data)">
    <div>
      <i class="ri-refresh-line"></i>
      <s title="Unavailable until online" *ngIf="!isOnline">Sync data</s>
      <span *ngIf="isOnline">Sync data</span>
    </div>
  </ng-template>
</sh-context-menu>
