@import '~src/styles/variables';
@import '~src/styles/mixins';

::ng-deep {
  @include scrollbar($bg: rgba(255, 255, 255, .5));

  ul.minimized {
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: clip;
    scrollbar-width: thin;
  }
}
