
{block content}
<h1 n:block=title>Shinobu!</h1>
<a n:href="Sign:out">Sign out</a>

<ul>
    <li n:foreach="$backups as $b">
        <a n:href="Json:, id => $b->id"><strong>{$b->computerName}</strong> - {$b->date}.json</a>
    </li>
</ul>
