@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$noteTextColor: #fff;
$noteFontSize: 1.7rem;
$noteTitleSize: 2rem;
$noteButtonSize: 3rem;

$notePaddingTop: .3rem;
$notePaddingLeft: .5rem;

@mixin note($color) {
  textarea, .title, button {
    color: $noteTextColor;
    background: transparentize(darken($color, 20%), $shinobuColorTransparency);
  }
  textarea, .title {
    &:not(:first-child) {
      border-top: 1px solid transparentize($color, $shinobuColorTransparency*1.3);
      background: opacify($color, $shinobuColorTransparency*1.3);
    }
  }

  button {
    background: darken($color, 5);
    &:hover, &:focus {
      background: darken($color, 10);
    }
    &:active {
      background: darken($color, 15);
    }
  }
}

@mixin noteClass($color, $selector) {
  &#{$selector} {
    @include note($color);
  }
}

@include scrollbar($bg: rgba(0, 0, 0, 0.1));

.ts-note {
  position: relative;
  width: 100%;
  height: 100%;

  @include note($noteDefaultColor);
  @include noteClass($noteDefaultColor, ".gray");
  @include noteClass($red, ".red");
  @include noteClass($blue, ".blue");
  @include noteClass($green, ".green");
  @include noteClass($yellow, ".orange");
  @include noteClass($pink, ".pink");
  @include noteClass($purple, ".purple");
  @include noteClass($cyan, ".cyan");

  textarea, .title, button {
    @include maximize;
    margin: 0;
    resize: none;
    width: calc(100% - 2 * $notePaddingLeft);
    padding: $notePaddingTop $notePaddingLeft;
    font-size: $noteFontSize;
    outline: 0;
    border: none;
    text-align: left;
    font-family: monospace;
    cursor: pointer;
  }

  textarea {
    bottom: $noteTitleSize + 2 * $notePaddingTop;
  }

  .title {
    height: $noteTitleSize;
    top: initial;
    text-align: center;
    font-size: $noteTitleSize;
    text-overflow: ellipsis;
  }

  button {
    height: $noteTitleSize + .7rem;
    width: $noteButtonSize;
    top: initial;
    left: auto;
    right: 0;
    text-align: center;
    font-size: $noteTitleSize;
    padding-top: 0;
    padding-bottom: 0;

    i {
      font-size: $noteTitleSize - .2rem;
    }
  }

  &.hasButton {
    .title {
      right: $noteButtonSize;
      width: auto;
    }
  }

  @media (max-width: $shinobuResponsive) {
    height: auto;

    textarea, .title {
      position: initial;
      height: auto;
      display: block;
    }

    textarea {
      min-height: 20rem;
    }
  }
}
