<div class="ts-authenticaion">
  <ng-container *ngIf="!isAuthenticated">
    <p>Sign in to synchronize data</p>
    <div class="buttons sign-in-buttons">
      <button (click)="signInGoogle($event)">
        <i class="ri-google-fill"></i>
        Sign with Google
      </button>
      <button (click)="singInGithub($event)">
        <i class="ri-github-fill"></i>
        Sign with Github
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="isAuthenticated">
    <p>You are signed in as <strong>{{this.authService.getUser()?.displayName}}</strong></p>
    <div class="buttons">
      <button (click)="signOut($event)">Sign out</button>
    </div>
  </ng-container>
</div>
