<div class="container notrans">
    <div class="half">
        <div class="panel red">
            <h1>
                <img alt="{_.anime.title}" src="/{modul}/files/anime.ico"> {_.anime.title}
                <span class="tools">
                    <a href="#" title="{_.add}" class="add"><i class="fa fa-plus"></i></a>
                    <a href="#" title="{_.refresh}"><i class="fa fa-refresh"></i></a> 
                </span>
            </h1>
            <div class="content">

            </div>
        </div>

        <div class="panel green">
            <h1>
                <i class="fa fa-television"></i> {_.shows.title}
                <span class="tools">
                    <a href="#" title="{_.add}" class="add"><i class="fa fa-plus"></i></a>
                    <a href="#" title="{_.refresh}"><i class="fa fa-refresh"></i></a> 
                </span>
            </h1>
            <div class="content">

            </div>
        </div>
    </div>
    <div class="half">
        <div class="panel blue music">
            <h1>
                <i class="fa fa-music"></i> {_.music.title}
                <span class="tools">
                    <a href="#" title="{_.add}" class="add"><i class="fa fa-plus"></i></a>
                    <a href="#" title="{_.refresh}" class="refreshData"><i class="fa fa-refresh"></i></a> 
                    <a href="#" title="{_.close}" class="refresh hidden"><i class="fa fa-times"></i></a> 
                </span>
            </h1>
            <div class="content">
                {>"calendar.helpers.music"/}
            </div>
        </div>

        <div class="panel yellow">
            <h1>
                <img alt="{_.anime.title}" src="/{modul}/files/anime.ico"> {_.ovas.title}
                <span class="tools">
                    <a href="#" title="{_.add}" class="add"><i class="fa fa-plus"></i></a>
                    <a href="#" title="{_.refresh}"><i class="fa fa-refresh"></i></a> 
                </span>
            </h1>
            <div class="content">

            </div>
        </div>
    </div>
</div>

<div id="kirino"></div>