{@eq key=anime.length value=0 type=number}
<a title="{_.add}" href="#" class="add">
    <i class="fa fa-plus"></i>
</a>
{:else}
<ul class="anime">
    {#anime}
    <li id="s{.id}" {?.released}class="released"{/.released}>
        <div class="info">
            <h2>{.name} {?.aid}<a title="aniDB.net" href="http://anidb.net/perl-bin/animedb.pl?show=anime&amp;aid={.aid}" class="badge" target="_blank">aniDB.net</a>{/.aid}</h2>
            {?.nyaa}<span><a title="{_.searchNyaa}" href="https://www.nyaa.eu/?page=search&amp;cats=0_0&amp;filter=0&amp;term={.nyaaUrl}" target="_blank">[{.nyaa}]</a></span>{/.nyaa}
        </div>
        <div class="tools">
            {?.date}<span class="date">{.date}</span>{:else}<span class="date unknown">{_.unknow}</span>{/.date}
            {?.released}<a href="#" title="{_.setWatched}" class="watched" date="{.dateForm}"><i class="fa fa-eye"></i></a> / {/.released}
            <a href="#" title="{_.edit}" class="edit"><i class="fa fa-pencil"></i></a> / <a href="#" title="{_.remove}" class="delete"><i class="fa fa-trash-o"></i></a> 
        </div>
    </li>
    {/anime}
</ul>
{/eq}