<ul class="shows">
    <li class="released">
        <div class="info">
            <h2>Adventure Time</h2>
        </div>
        <div class="tools">
            <span class="date">05.08.2015</span>
            <a href="#" title="{_.edit}"><i class="fa fa-pencil"></i></a> / <a href="#" title="{_.remove}"><i class="fa fa-trash-o"></i></a> 
        </div>
    </li>
    <li class="released">
        <div class="info">
            <h2>Adventure Time</h2>
        </div>
        <div class="tools">
            <span class="date">05.08.2015</span>
            <a href="#" title="{_.edit}"><i class="fa fa-pencil"></i></a> / <a href="#" title="{_.remove}"><i class="fa fa-trash-o"></i></a> 
        </div>
    </li>
    <li>
        <div class="info">
            <h2>Adventure Time</h2>
        </div>
        <div class="tools">
            <span class="date">05.08.2015</span>
            <a href="#" title="{_.edit}"><i class="fa fa-pencil"></i></a> / <a href="#" title="{_.remove}"><i class="fa fa-trash-o"></i></a> 
        </div>
    </li>
    <li>
        <div class="info">
            <h2>Adventure Time</h2>
        </div>
        <div class="tools">
            <span class="date unknown">{_.unknown}</span>
            <a href="#" title="{_.edit}"><i class="fa fa-pencil"></i></a> / <a href="#" title="{_.remove}"><i class="fa fa-trash-o"></i></a> 
        </div>
    </li>
</ul>