<box [color]="color"
     title="Kirino"
     icon="assets/icons/kirino/16.png">
  <ng-template>
    <form *ngIf="preference" class="nice show-labels orange">
      <div class="field checkbox">
        <label for="form-getNewDataAuto">
          <input id="form-getNewDataAuto"
                 title="Get new data automatically"
                 name="getNewDataAuto"
                 type="checkbox"
                 [(ngModel)]="preference.kirino.enableAutoSync">Get new data automatically
        </label>
      </div>
      <div class="field">
        <label for="form-nyaa-url">nyaa url</label>
        <input type="url" id="form-nyaa-url" placeholder="nyaa url" name="nyaa-url"
               [(ngModel)]="preference.kirino.nyaaUrl">
      </div>

      <div class="field">
        <label for="form-anidb-refresh">aniDB data refresh rate in mins</label>
        <input type="number" id="form-anidb-refresh" name="anidb-refresh"
               [(ngModel)]="preference.kirino.anidbRefreshRateInMin">
      </div>
      <div class="field">
        <label for="form-anison-refresh">Anisom data refresh rate in mins</label>
        <input type="number" id="form-anison-refresh" name="anison-refresh"
               [(ngModel)]="preference.kirino.anisonRefreshRateInMin">
      </div>
      <div class="field">
        <label for="form-thetvdb-refresh">TheTVDB.com data refresh rate in mins</label>
        <input type="number" id="form-thetvdb-refresh" name="thetvdb-refresh"
               [(ngModel)]="preference.kirino.theTvdbRefreshRateInMin">
      </div>

      <div class="field">
        <label for="form-amazon-refresh">Amazon data refresh rate in mins</label>
        <input type="number" id="form-amazon-refresh" name="amazon-refresh"
               [(ngModel)]="preference.kirino.amazonRefreshRateInMin">
      </div>

      <div class="buttons">
        <input type="submit" value="Save" (click)="save()">
      </div>
    </form>
  </ng-template>
</box>
