<div class="icon-picker">
  <div class="header">
    <button title="Search" [class.second]="activeSection !== 'search'" (click)="setActiveSection('search')"><i
      class="ri-search-eye-line"></i></button>
    <button *ngFor="let header of sectionHeaders" [title]="header.name" [class.second]="activeSection !== header.name"
            (click)="setActiveSection(header.name)">
      <i [class]="header.icon"></i>
    </button>
  </div>
  <div *ngIf="activeSection === 'search'" class="search-bar">
    <input
      #searchInput
      placeholder="Search..."
      (change)="search(searchInput.value)"
      (keyup)="search(searchInput.value)"
    >
  </div>
  <div class="icons">
    <ng-container *ngFor="let icons of sectionIcons">
      <i *ngFor="let icon of icons" [class]="icon.class" (click)="sendIconData(icon.class)"></i>
    </ng-container>
  </div>
</div>
